# Ignore virtual environment
venv/
env/
.vs/
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore database files (SQLite)
*.sqlite3

# Ignore local OS files
.DS_Store
Thumbs.db

# Ignore compiled files
*.log
