{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CypherCloud - Secure Storage</title>
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="main-header">
        <nav class="navbar">
            <a href="#" class="logo">CypherCloud</a>
            </nav>
    </header>

    <main class="content-area">
        {% block content %}
        {% endblock content %}
    </main>

    <footer class="main-footer">
        <p>&copy; 2025 CypherCloud. All rights reserved.</p>
    </footer>

</body>
</html>